
@{
    Layout = null;
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h2>About Us</h2>
        <p>This is the About view.</p>
    </div>
</body>
</html>
