
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div> 
       <h1>Trang Index 2</h1>
        <p>Id = @ViewBag.id</p>
        <p>Name = @ViewBag.name</p>
        <p>Old = @ViewBag.old</p>
    </div>
</body>
</html>
