.fit-cover {
  object-fit: cover;
}

div {
}

.btn {
  color: #181717;
}

.product-category {
  font-family: heebo;
  text-align: center;
}

.product-category-link {
  font-family: EB Gamunt;
}

.title-product" {
}

.product-category-link {
}

.title-product {
  font-weight: bold;
}

.footer-col {
  font-family: heeBo;
}

h3 {
  font-size: 20px;
  font-family: EB Gamunt;
  font-weight: bold;
}

