@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployee</title>
    <!--Bootstrap 4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <h4 style="color:blue; font-weight:bold;">Add New Employee</h4>
                <hr />

                <div class="form-group">
                    <label>Full Name</label>
                    <input class="form-control" type="text" name="FullName">
                </div>

                <div class="form-group">
                    <label>Gender</label>
                    <input class="form-control" placeholder="Enter Gender (Nam / Nữ)" type="text" name="Gender">
                </div>

                <div class="form-group">
                    <label>City</label>
                    <input class="form-control" placeholder="Enter City " type="text" name="City">
                </div>

                <div class="form-group">
                    <label>Dept ID</label>
                    <input class="form-control" placeholder="Dept ID" type="text" name="DeptID">
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="ADD EMPLOYEE" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    <label style="color:red; font-weight:bold;">@ViewBag.ThongBao</label>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("List Employees", "ShowEmployees", "Home")
        </div>
    </div>
</body>
</html>
