@model Lesson4.Models.Deparment
    @{
    Lesson4.Models.ConnectDeparment connection = new Lesson4.Models.ConnectDeparment();
    int employeeCount = connection.SoNV(Model.DeptId.ToString());
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowDetailsDeparment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h4>Department</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                Mã Phòng
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DeptId)
            </dd>
            <dt class="col-sm-3">
                Tên Phòng
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">
                Số lượng nhân viên
            </dt>

            <dd class="col-sm-9">
                @employeeCount
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-secondary" })
    </p>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
