
@{
    Layout = null;
    ViewBag.Title = "Index";

}

@model Ex2.Models.KhoaModels
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2 align ="center", style="color:red">@Model.Message</h2>
        <p>Thông tin khoa </p>
        <p>Tên Khoa : @Model.TenKhoa</p>
        <p>Năm thành lập : @Model.NamThanhLap</p>
    </div>
</body>
</html>
