
@{
    Layout = null;
    ViewBag.Title = "DangNhap";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhap</title>
</head>
<body>
    @using (Html.BeginForm())
    {
    <div>
        <table style="width:30%; border:2px solid blue; background-color:cornsilk; margin:auto;">
            <tr>
                <td colspan ="2" style="text-align:center; background-color:blue; color:white; vertical-align:middle;"><h2>THÔNG TIN ĐĂNG NHẬP</h2></td>
            </tr>
            <tr>
                <td>Họ và Tên</td>
                <td><input type="text" value="Nguyễn Hải Yến" size="30"/></td>
            </tr>
            <tr>
                <td> Email</td>
                <td> <input type ="text" value="yennh@cntp.edu.vn" size="30" /></td>
            </tr>
            <tr>
                <td> Tên Đăng Nhập</td>
                <td> <input type="text" size="30" name="name" /></td>
            </tr>
            <tr>
                <td> Password</td>
                <td> <input type="password" size="30" name ="password" /></td>
            </tr>
             <tr>
                <td style="text-align:right;"><input type="checkbox" value="1"checked /></td>
                <td>Remember Password</td>
            </tr>
            <tr>
                <td colspan ="2" style="text-align:center;"><input type="submit" value="ĐĂNG NHẬP" /></td>
            </tr>
        </table>

    </div>
    }
</body>
</html>
