<div id="Footer">

    <a href="#">HOME</a>
    | <a href="#">ABOUT US</a> | <a href="#">SERVICES</a>
    | <a href="#">NEWS &amp; EVENTS</a> | <a href="#">SUPPORT</a> | <a href="#">CONTACTS</a>
    <br>
    Copyright © Your Company Name. Designed by <a href="http://www.cntp.edu.vn" target="_blank">YenNguyen</a><br>
    Supported by <a href="http://www.fit.hufi.edu.vn/" target="_blank">Fit.hufi.edu.vn</a>

</div>
