.product-group {
  padding: 5px 10px;
  border: 0.5px solid #bebebe;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.03em;
  color: #333333;
  text-transform: uppercase;
  border: color 5px;
}
#p2{
    padding-bottom: margin-left: auto;
    margin-right: auto;
}
