.card-product {
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  position: relative;
}
.product-price {
  position: relative;
}
.del-price {
  text-decoration: line-through;
  color: gray;
}
.new-price {
  color: rgb(245, 5, 5);
  font-size: large;
  font-weight: bold;
}
body {
  border: ridge gray;
  width: 15%;
}
.tragop {
  border: outset red 1px;
  width: 35%;
}
