<div id="header" class="row bg-light">
    <div class="col-xs-12" col-md-4>
        <br />
        <img src="/Images/LogoHoa24.jpg" width="100%" />
    </div>
    <div class="col-xs-12" col-md-4>
        <b>Hà Nội : </b> <br />
        Điện thoải L 024.73007.008 - 093.4647.172 <br />
        Địa chỉ : Số 63/445 Lạc Long Quân, Tây Hồ, Hà Nội <br />
        Email : hn@dienhoa24gio.com
    </div>
    <div class="col-xs-12" col-md-4>
        <b>Hồ Chí Minh : </b> <br />
        Điện thoải L 024.73007.008 - 093.4647.172 <br />
        Địa chỉ : 189 XV Nghệ Tĩnh, P17, Q.Bình Thạnh, Hồ Chí Minh <br />
        Email : hn@dienhoa24gio.com
    </div>
</div>